In [5]:
#importing the dependencies 
import requests as req
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
#import cenpy as cen
#import pysal
#import plotly
#import plotly.plotly as py
#import plotly.graph_objs as go

In [7]:
def state_abb(data):
     data['state'] = data['state'].replace('01','AL')
    data['state'] = data['state'].replace('02','AK')
    data['state'] = data['state'].replace('04','AZ')
    data['state'] = data['state'].replace('05','AR')
    data['state'] = data['state'].replace('06','CA')
    data['state'] = data['state'].replace('08','CO')
    data['state'] = data['state'].replace('09','CT')
    data['state'] = data['state'].replace('10','DE')
    data['state'] = data['state'].replace('11','DC')
    data['state'] = data['state'].replace('12','FL')
    data['state'] = data['state'].replace('13','GA')
    data['state'] = data['state'].replace('15','HI')
    data['state'] = data['state'].replace('16','ID')
    data['state'] = data['state'].replace('17','IL')
    data['state'] = data['state'].replace('18','IN')
    data['state'] = data['state'].replace('19','IA')
    data['state'] = data['state'].replace('20','KS')
    data['state'] = data['state'].replace('21','KY')
    data['state'] = data['state'].replace('22','LA')
    data['state'] = data['state'].replace('23','ME')
    data['state'] = data['state'].replace('24','MD')
    data['state'] = data['state'].replace('25','MA')
    data['state'] = data['state'].replace('26','MI')
    data['state'] = data['state'].replace('27','MN')
    data['state'] = data['state'].replace('28','MS')
    data['state'] = data['state'].replace('29','MO')
    data['state'] = data['state'].replace('30','MT')
    data['state'] = data['state'].replace('31','NE')
    data['state'] = data['state'].replace('32','NV')
    data['state'] = data['state'].replace('33','NH')
    data['state'] = data['state'].replace('34','NJ')
    data['state'] = data['state'].replace('35','NM')
    data['state'] = data['state'].replace('36','NY')
    data['state'] = data['state'].replace('37','NC')
    data['state'] = data['state'].replace('38','ND')
    data['state'] = data['state'].replace('39','OH')
    data['state'] = data['state'].replace('40','OK')
    data['state'] = data['state'].replace('41','OR')
    data['state'] = data['state'].replace('42','PA')
    data['state'] = data['state'].replace('44','RI')
    data['state'] = data['state'].replace('45','SC')
    data['state'] = data['state'].replace('46','SD')
    data['state'] = data['state'].replace('47','TN')
    data['state'] = data['state'].replace('48','TX')
    data['state'] = data['state'].replace('49','UT')
    data['state'] = data['state'].replace('50','VT')
    data['state'] = data['state'].replace('51','VA')
    data['state'] = data['state'].replace('53','WA')
    data['state'] = data['state'].replace('54','WV')
    data['state'] = data['state'].replace('55','WI')
    data['state'] = data['state'].replace('56','WY')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)